
*{
   font-family: NIXGONM-Vb;
}

#main-introduction{
    width: 1000px;
    height: 100px;
    padding: 70px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: yg-jalnan;
    font-size: 50px;
    border-bottom: 2px solid #2db400;
}


.first-introduction, .second-introduction, .third-introduction, .fourth-introduction{
    width: 1000px;
    height: 500px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    
    font-size: 30px;

    transition: opacity 1s;
    opacity: 0;

    
}

.introduction-container img{
    width: 100%;
    height: 100%;

    margin: 20px 0;
    opacity: 0.5;
}

.introduction-text{
   padding: 0 50px;
   width: 1000px;
   height: 500px;

   display: flex;
   flex-direction: column;
   justify-content: center;

   position: absolute;

   font-size: 20px;
   font-weight: bold;

   z-index: 500;

}

.introduction-text:nth-child(2n-1){
    align-items: flex-end;
}

.introduction-text > p:first-child{
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 50px;
}