/* #introduction-container > div{
    width: 1200px;
    margin-top: 30px;
} */

#main-introduction{
    width: 1200px;
    height: 250px;
    background-color: #2db400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
}

.first-introduction , .second-introduction , .third-introduction{
    /* width: 500px; */
    height: 500px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    font-size: 30px;
    border-radius: 150px;
    
}

.introduction-container img{
    width: 500px;
    height: 500px;
}

.introduction-text{
   /* border: 1px solid black; */
   margin-left: 50px;
   width: 650px;
   height: 500px;
   border-radius: 50px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}