/* 메인 모든 공간 */
.all{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    /* background-color: #f1bebe; */
}

/* 카테고리를 포함한 주변 공간 */
.searchBox{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    /* background-color: #f1bebe; */
}

/* 카테고리를 포함한 공간 */
.categoryBox{
    border: 1px solid #ca9595;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding: 0;
    background-color: #FEEBEB;
}

/* 카테고리 공간 안에 li 태그 */
.categoryBox li{
    list-style: none;
    display: flex;
    flex-direction: column;

}

/* 카테고리(li) */
.category{
    font-size: 13px;
    margin: 3px 0px 0px 0px;
}

/* 카테고리 안에 input */
.category input{
    display: none;
}

/*  */
.foodType{
    display: flex;
    justify-content: center;
}

/* 검색 입력 란 */
#search-query{
    height: 18.19px;
    width: 345.79px;
    /* border-radius: 10%; */
    background-color: #F8E7E7;
    border: 1px solid #F8E7E7;
}

/* 검색 버튼 */
.search-btn{
    background-color: #F8E7E7;
    border: 1px solid #F8E7E7;
    color: #ca9595;
}

/* 모달 배경 */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    /* z-index: 1000; */

    /* 숨기기 */
    z-index: -1;
    opacity: 0;
}

/* 검색 */
.show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
}

/* 창 */
.window {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 팝업 */
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    /* 임시 지정 */
    width: 600px;
    height: 439.5px;

    /* 초기에 약간 아래에 배치 */
    transform: translate(-50%, -40%);
}

/* 닫기 버튼 */
#close{
    display: flex;
    justify-self: right;
}

/* 닫기 감싸는 div */
.close-btn{
    display: flex;
    flex-direction: row-reverse
}

/* 검색 안에 팝업 */
.show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}