/* 메인 모든 공간 */
.all{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    /* background-color: #f1bebe; */
}

/* 카테고리를 포함한 주변 공간 */
.searchBox{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    background-color: #f1bebe;
}

/* 카테고리를 포함한 공간 */
.categoryBox{
    border: 1px solid #ca9595;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    padding: 0;
    background-color: #FEEBEB;
}

/* 카테고리 공간 안에 li 태그 */
.categoryBox li{
    list-style: none;
    display: flex;
    flex-direction: column;

}

/* 카테고리(li) */
.category{
    font-size: 13px;
    margin: 3px 0px 0px 0px;
}

/* 검색 입력 란 */
#search-query{
    height: 18.19px;
    width: 345.79px;
    /* border-radius: 10%; */
    background-color: #F8E7E7;
    border: 1px solid #F8E7E7;
}

/* 검색 버튼 */
.search-btn{
    background-color: #F8E7E7;
    border: 1px solid #F8E7E7;
    color: #ca9595;
}
