@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}

* {
    font-family: NIXGONM-Vb;
    /* font-weight: bold; */
}

/* 공통 바디 사이즈 */
body{
    width: 1200px;
    flex-direction: column;
    margin: 0 auto;
}

/* 메인 가운데 정렬 */
main{
    height: 100%;
}

/* 푸터 하단에 고정 */
footer{
    position: relative;
    margin-bottom: 0;
    margin-top: 200px;
}

/* 본문 스타일 */
.main-container{
    width: 1200px;
    margin: 0 auto;
}


/* 검색창 높이 설정 */
.searchBox{
    height: 55px;
    display: flex;
    justify-content: center;
    
    
}

/* 검색창 제목 스타일 */
.searchBoxName{
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 60px;
    font-size: 30px;
}

/* 검색창 스타일 */
.searchBox input{
    height: 100%;
    width: 700px;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    border-radius: 10px;
    /* 버튼간격 */  
    margin-right: 20px;
    border: none;
    box-shadow: 3px 3px 3px 3px #ddd;

    /* 검색창에 입력중일 때 */
    outline-style: hidden;
    outline-color: gray;
}

/* 검색창 버튼 */
.searchBox button{
    height: 100%;
    border: none;
    /* background: #2db400; */
    border-radius: 5px;
    width: 50px;

    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px #ddd;

    /* 폰트 스타일 */
    /* color: white; */
    font-weight: bold;
    font-size: 20px;

    cursor: pointer;
}

.searchBox button:hover{
    background-color: gray;
    color: white;
}

.foodTypecategory h2, .searchBoxName, .newStoreTitle, .statistics h3, .searchList h2{
    text-align: center;
}

.foodTypecategory{
    margin-top: 50px;
    padding-top: 10px;
    flex-direction: column;

    /* 카테고리 기능 숨기기 */
    display: none;
}

/* 카테고리 이미지 스타일 */
.foodTypecategory img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

/* 리스트 점 삭제 */
.foodTypecategory li{
    /* display: flex; */
    /* flex-direction: column; */
    list-style: none;
    text-align: center;
}

/* 체크박스 없애기 */
.foodTypecategory input{
    display: none;
}

/* 카테고리 ul태그 스타일 */
.foodTypecategory ul{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #ddd;
}

.foodTypecategory li *{
    cursor: pointer;
}

.foodTypecategory div:hover{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #ddd inset;
}

.category-box{
    width: 110px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

/* 검색 결과 박스 */
.searchList{
    padding: 20px;
    margin-top: 20px;
    margin-right: 40px;
    width: 65%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #ddd;
}

/* 검색 결과 박스(ul) */
.searchList ul{
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #ddd;
    
}

.searchList li{
    
    border-radius: 5px;
    border: 1px solid gray;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 1px;
}

/* 가게 정보 스타일 */
.storeInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.searchList ul{
    margin-top: 20px;
}

/* 상세보기 버튼 스타일 */
.storeInfoLink button{
    border: none;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.storeInfoLink button:hover{
    background-color: #2db400;
    color: white;
}

/* 메인 페이지 이미지 스타일 */
.main-image{
    width: 100vw;
    height: 550px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* 결과 정보 창 스타일 */
.result-box{
    /*  기능 숨기기 */
    display: none;

    /* border-top: 2px solid black; */
    justify-content: flex-start;
    height: 450px;
}

.searchList-none{
    margin-left: 30px;
    margin-top: 30px;
}

.searchList-style{
    overflow-y: scroll;
    height: 350px;
    -ms-overflow-style: none;
}

.searchList-style::-webkit-scrollbar{
    display: none;
}

/* 통계창 스타일 */
.statistics{
    /* border: 1px solid black; */
    box-shadow: 3px 3px 3px 3px #ddd;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    margin-top: 20px;
    margin-right: 30px;
}

.statistics h3{
    margin-bottom: 10px;
}

.statistics li{
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.statistics li:last-child{
    border: none;
}

/* 즐겨찾기 스타일 */
.bookmark{
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #ddd;
    width: 15%;
    
}

.bookmark li{
    list-style: none;
    margin-bottom: 8px;
}

/* 모달팝업 */
.storeInfoModal-window{
    display: none;

    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1100;
}

/* 팝업창 크기 및 스타일 */
.storeInfoModal-popup{
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 1000px;
    height: 700px;
    overflow: hidden;
}

/* 팝업창 제목 부분 스타일 */
.modal-title{
    height: 50px;
    background-color: #4caf50;
    color: white;
    font-size: 20px;
    padding: 18px;
    text-align: center;
    /* 상단 버튼 위치 조정 */
    display: flex;
    justify-content: space-between
}


.modal-close-btn{
    cursor: pointer;
}

.modal-title-hidden{
    visibility: hidden;
}

/* 팝업창 내용 스타일 */
.modal-content{
    padding: 40px 50px;
    display: flex;
    flex-wrap: wrap;

    /* 갑자기 안먹어서 취소 */
    justify-content: space-between;
}

/* 팝업창 왼쪽 부분 스타일 */
.modal-content-left{
    display: flex;
    flex-direction: column
}

#map{
    margin-bottom: 30px;
}

/* 팝업창 오른쪽 지도 크기 초기 설정(나중에 api사용시 수정해야할듯) */
/* 
.modal-contant-right img{
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
}
 */
/* 팝업창 가게이름 스타일 */
.title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
/* 팝업창 내용의 제목 스타일 */
.content-title{
    font-weight: bold;
}

.modal-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.content{
    margin-bottom: 8px;
}

.board-btn, .bookmark-btn{
    margin-top: 40px;
    margin-right: 60px;
    height: 45px;
    padding: 5px 20px;
    cursor: pointer;

    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.board-btn{
    margin-right: 30px;
}

.board-btn:hover{
    background-color: #3e8e41;
}

/* 모달 팝업창 내부 이미지 슬라이드 */

.modal-slider{
    width: 380px;
    height: 220px;
    position: relative;
    margin: 40px auto;
    overflow: hidden;

}

.modal-slider input[type=radio]{
    display: none;
}

.modal-imgs{
    padding: 0;
    margin: 0;
    list-style: none;

}

.modal-imgs li{
    position: absolute;
    left: 640px;
    transition-delay: 1s;

    padding: 0;
    margin: 0;
}

.modal-imgs img{
    width: 380px;
    height: 220px;
}

.modal-slider-dot{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 30;
}

.modal-slider-dot label{
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal-slider input[type=radio]:nth-child(1):checked~.modal-slider-dot>label:nth-child(1){
    background-color: #fff;
}

.modal-slider input[type=radio]:nth-child(2):checked~.modal-slider-dot>label:nth-child(2){
    background-color: #fff;
}

.modal-slider input[type=radio]:nth-child(3):checked~.modal-slider-dot>label:nth-child(3){
    background-color: #fff;
}

.modal-slider input[type=radio]:nth-child(4):checked~.modal-slider-dot>label:nth-child(4){
    background-color: #fff;
}

.modal-slider input[type=radio]:nth-child(1):checked~.modal-imgs>li:nth-child(1){
    left: 0;
    transition: 0.5s;
    z-index: 29;
}
.modal-slider input[type=radio]:nth-child(2):checked~.modal-imgs>li:nth-child(2){
    left: 0;
    transition: 0.5s;
    z-index: 29;
}
.modal-slider input[type=radio]:nth-child(3):checked~.modal-imgs>li:nth-child(3){
    left: 0;
    transition: 0.5s;
    z-index: 29;
}
.modal-slider input[type=radio]:nth-child(4):checked~.modal-imgs>li:nth-child(4){
    left: 0;
    transition: 0.5s;
    z-index: 29;
}

/* 신규 가맹점 등록 현황 스타일 */
.newStoreTitle{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

.swiper {
    width: 100vw;
    height: 400px;
    background-color: white;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    flex-direction: column;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.bookmark li{
    border-bottom: 1px solid #ddd;
}

.regi-bookmark{
    background-color: #dd3333ee;
}

.storeInfoModal-window{
    overflow: auto;
}