#sideAll {
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  /* border: 3px solid #2db400; */

  background-color: #2db400;

  position: relative;
  /* left: 2%; */
  /* top: 50%; */
  right: 10px;

  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 10px solid green;
  border-bottom: 10px solid green;

  /* z-index: 600; */
}

#sideAll > input {
  display: none;
}

#sideAll > div > ul > li {
  list-style: none;
  margin: 15px 0 15px 15px;
}

#sideAll > div > ul > li > a {
  text-decoration: none;
  color: white;
}

#sideAll > label > a {
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 30px 0;
}

#side2,
#side3,
#side6 {
  padding: 30px 0;
}

#sideAll > label {
  font-weight: bold;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 30px 0; */
  color: white;

  cursor: pointer;

  /* border-bottom:1px solid; */
}

.sideM {
  text-align: center;
}

#sideAll > div > ul {
  /* position: absolute; */
  width: 150px;

  height: 0;
  overflow: hidden;
  transition-duration: 0.3s;

  padding: 0;
}
