<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

<!-- Board resultMap -->
<resultMap type="Board" id="board_rm">
	<id property="boardNo" column="BOARD_NO" />
	<result property="boardTitle" column="BOARD_TITLE" />
	<result property="boardContent" column="BOARD_CONTENT" />
	<result property="boardCreateDate" column="CREATE_DATE" />
	<result property="boardUpdateDate" column="UPDATE_DATE" />
	<result property="readCount" column="READ_COUNT" />
	<result property="memberId" column="MEMBER_ID" />
	<result property="memberNo" column="MEMBER_NO" />
</resultMap>

<resultMap type="Store" id="store_rm">
	<id	property="storeNo" column="STORE_NO"/>  	
	<result property="storeType" column="STORE_TYPE" />
	<result property="storeName" column="STORE_NAME" />
	<result property="roadnameAddress" column="ROADNAME_ADDRESS" />
	<result property="landnumberAddress" column="LANDNUMBER_ADDRESS" />
	<result property="storeTel" column="STORE_TEL" />
	<result property="checkFl" column="CHECK_FL" />
	<result property="memberNo" column="MEMBER_NO" />
	<result property="storeInfo" column="STORE_INFO" />           
</resultMap>

<resultMap type="Member" id="member_rm">
	<id property="memberNo"	 column="MEMBER_NO"/>
	<result property="memberId" column="MEMBER_Id" />
	<result property="memberPw" column="MEMBER_PW" />
	<result property="memberTel" column="MEMBER_TEL" />
	<result property="memberAddress" column="MEMBER_ADDRESS" />
	<result property="authority" column="AUTHORITY" />
	<result property="enrollDate" column="ENROLL_DATE" />
	<result property="memberDeleteFlag" column="MEMBER_DEL_FL" />
</resultMap>





<!-- 게시글 숫자 조회 -->
<select id="getListCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM BOARD
	WHERE BOARD_CODE = #{boardCode}
	AND BOARD_DEL_FL = 'N'
</select>

	<!-- 특정 게시판 목록 조회 -->
	<select id="selectBoardList" parameterType="_int"
		resultMap="board_rm">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_ID, READ_COUNT,CREATE_DATE
	<![CDATA[
	CASE
		WHEN SYSDATE - CREATE_DATE < 1/24/60
		THEN FLOOR((SYSDATE - CREATE_DATE) * 24 * 60 * 60) || '초 전'
		WHEN SYSDATE - CREATE_DATE < 1/24
		THEN FLOOR((SYSDATE - CREATE_DATE) * 24 * 60) || '분 전'
		WHEN SYSDATE - CREATE_DATE < 1
		THEN FLOOR((SYSDATE - CREATE_DATE) * 24) || '시간 전'
		ELSE TO_CHAR(CREATE_DATE, 'YYYY-MM-DD')
	END CREATE_DATE, ]]>
		(SELECT COUNT(*) FROM "COMMENT" C
		WHERE BOARD_NO = B.BOARD_NO
		AND COMMENT_DEL_FL = 'N') COMMENT_COUNT
		FROM BOARD B
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_CODE = #{boardCode}
		AND BOARD_DEL_FL = 'N'
          <if test='query != null and query != ""'>
		         <choose>
		            <when test='key == "t"'> <!-- 제목 -->
		               AND BOARD_TITLE LIKE '%${query}%' <!-- #이 아니라 $ 사용해야지 홑따옴표가 안붙고 사용 -->
		            </when>
		            
		            <when test='key == "c"'> <!-- 내용 -->
		               AND BOARD_CONTENT LIKE '%${query}%' 
		            </when>           
		            <when test='key == "tc"'> <!-- 제목+내용 -->
		               AND (BOARD_CONTENT LIKE '%${query}%' OR
		               BOARD_TITLE LIKE '%${query}%')
		            </when>
		         <otherwise> <!-- 작성자(w) -->
		            AND MEMBER_ID LIKE '%${query}%'
		         </otherwise>
		         </choose>
      	  </if>
         
         ORDER BY BOARD_NO DESC
  </select>
	
	<!-- 게시글 삭제 -->	
		
	<update id="boardDelete">
		UPDATE  BOARD SET 
		BOARD_DEL_FL = 'Y' 
		WHERE BOARD_NO = #{boardNo}		  
		ORDER BY BOARD_NO DESC
  	</update>
  
	<!-- 검색 조건 일치글 목록 조회 -->

	<select id="selectBoardList_search" parameterType="_int"
		resultMap="board_rm">
		SELECT BOARD_NO, BOARD_TITLE, MEMBER_ID, READ_COUNT, CREATE_DATE
      		<![CDATA[
	CASE
WHEN SYSDATE - CREATE_DATE < 1/24/60
THEN FLOOR((SYSDATE - CREATE_DATE) * 24 * 60 * 60) || '초 전'
WHEN SYSDATE - CREATE_DATE < 1/24
THEN FLOOR((SYSDATE - CREATE_DATE) * 24 * 60) || '분 전'
WHEN SYSDATE - CREATE_DATE < 1
THEN FLOOR((SYSDATE - CREATE_DATE) * 24) || '시간 전'
ELSE TO_CHAR(CREATE_DATE, 'YYYY-MM-DD')
	END CREATE_DATE, ]]>
	(SELECT COUNT(*) FROM "COMMENT" C
	WHERE BOARD_NO = B.BOARD_NO
	AND COMMENT_DEL_FL = 'N') COMMENT_COUNT
	FROM BOARD B
	JOIN MEMBER USING(MEMBER_NO)
	WHERE BOARD_CODE = #{boardCode}
	AND BOARD_DEL_FL = 'N'
         <if test='query != null and query != ""'>
	         <choose>
	            <when test='key == "t"'> <!-- 제목 -->
	               AND BOARD_TITLE LIKE '%${query}%' <!-- #이 아니라 $ 사용해야지 홑따옴표가 안붙고 사용 -->
	            </when>
	            
	            <when test='key == "c"'> <!-- 내용 -->
	               AND BOARD_CONTENT LIKE '%${query}%' 
	            </when>           
	            <when test='key == "tc"'> <!-- 제목+내용 -->
	               AND (BOARD_CONTENT LIKE '%${query}%' OR
	               BOARD_TITLE LIKE '%${query}%')
	            </when>
	         <otherwise> <!-- 작성자(w) -->
	            AND MEMBER_ID LIKE '%${query}%'
	         </otherwise>
	         </choose>
     	  </if>
        
        ORDER BY BOARD_NO DESC
 </select>
 
	<!-- 게시글 상세 조회 -->
	<select id="selectBoardDetail" resultMap="board_rm">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, READ_COUNT,
		TO_CHAR(CREATE_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS')CREATE_DATE,
		TO_CHAR(UPDATE_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS')UPDATE_DATE,
		MEMBER_NO, MEMBER_ID
		FROM BOARD B
		JOIN MEMBER USING(MEMBER_NO)
		WHERE BOARD_NO = #{boardNo}
		AND BOARD_DEL_FL='N'
	</select>

	
<!-- 식당 목록 조회 -->  
<select id="selectStoreList" resultMap="store_rm">
  SELECT STORE_NO, STORE_NAME, STORE_TYPE, ROADNAME_ADDRESS, STORE_TEL, CHECK_FL
  FROM STORE
  WHERE STORE_NAME LIKE '%회기%'
</select>


<select id="selectMemberList" resultMap="member_rm">
	SELECT AUTHORITY, MEMBER_ID, MEMBER_TEL, ENROLL_DATE, MEMBER_DEL_FL
	FROM "MEMBER"
</select>
</mapper>  