<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">

	<resultMap type="Store" id="store_rm">
	
		<!-- <id/> 태그는 DB에서 PK에 해당하는 필드, 컬럼을 작성해는 태그 -->
		<id property="storeNo" column="STORE_NO" />
		<!-- <result/> 태그는 나머지 일반 컬럼 -->
	     <result property="storeType" column="STORE_TYPE" />
	     <result property="storeName" column="STORE_NAME" />
	     <result property="roadnameAddress" column="ROADNAME_ADDRESS" />
	     <result property="landnumberAddress" column="LANDNUMBER_ADDRESS" />
	     <result property="storeTel" column="STORE_TEL" />
	     <result property="checkFl" column="CHECK_FL" />
	     <result property="memberNo" column="MEMBER_NO" />
	     <result property="storeInfo" column="STORE_INFO" />
	     <result property="storeCount" column="STORE_COUNT" />
     
     	 <collection property="storeImgList" javaType="java.util.ArrayList"
     	 ofType="StoreImage" select="selectStoreImageList" column="STORE_NO"/>
     	 
	</resultMap>
	
	<resultMap type="StoreImage" id="storeImage_rm">
		<id property="storeNo" column="STORE_NO"/>
		<result property="storeImagePath" column="S_IMG_PATH"/>
		<result property="storeImageOriginal" column="S_IMG_ORIGINAL"/>
		<result property="storeImageRename" column="S_IMG_RENAME"/>
		<result property="storeImageOrder" column="S_IMG_ORDER"/>
	</resultMap>
	
	<resultMap type="Bookmark" id="bookmark_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="storeNo" column="STORE_NO"/>
		<result property="bookmarkDate" column="BOOKMARK_DATE"/>
		<result property="storeName" column="STORE_NAME"/>
	</resultMap>
	
	<!-- 가맹점 총 점포수 -->
	<select id="resultList" resultMap="store_rm">
		SELECT STORE_TYPE, COUNT(STORE_TYPE) STORE_COUNT FROM STORE
		WHERE CHECK_FL = 'B'
		GROUP BY STORE_TYPE
		ORDER BY STORE_COUNT DESC
	</select>
	
	<!-- 검색어 + 카태고리 포함한 결과 출력 -->
	<select id="storeList" resultMap="store_rm">
		SELECT *
		FROM STORE
		WHERE (ROADNAME_ADDRESS LIKE '%${searchValue}%' OR LANDNUMBER_ADDRESS LIKE '%${searchValue}%')
		AND STORE_TYPE IN
		<foreach collection="categoryArr" item="arr" open="(" close=")" separator=",">
		#{arr}
		</foreach>
		AND (CHECK_FL ='B' OR CHECK_FL = 'Y')
		ORDER BY STORE_NO
	</select>
	
	<!-- collection에 저장할 스토어이미지 리스트 -->
	<select id="selectStoreImageList" resultMap="storeImage_rm">
		SELECT * FROM STORE_IMG
		WHERE STORE_NO = #{storeNo}
		ORDER BY S_IMG_ORDER
	</select>
	
	<!-- 모달 팝업창 해당 가맹점 조회 -->
	<select id="modalResult" resultMap="store_rm">
		SELECT *
		FROM STORE
		WHERE STORE_NO = #{storeNo}
	</select>
	
	<!-- 신규 추가된 가맹점 조회(위에서 10개) -->
	<select id="newInsertList" resultMap="store_rm">
		SELECT STORE_NO, STORE_NAME, CHECK_FL
		FROM (
		SELECT STORE_NO, STORE_NAME, CHECK_FL
		FROM STORE
		ORDER BY STORE_NO DESC)
		<![CDATA[
		WHERE ROWNUM <=10
		]]>
		AND (CHECK_FL = 'Y' OR CHECK_FL = 'B')
	</select>
	
	<!-- 즐겨찾기 목록 조회 -->
	<select id="selectBookmarkList" resultMap="bookmark_rm">
		SELECT B.MEMBER_NO, B.STORE_NO, S.STORE_NAME
		FROM BOOKMARK B
		LEFT JOIN STORE S ON(B.STORE_NO = S.STORE_NO)
		WHERE B.MEMBER_NO = ${memberNo}
	</select>
	
	<!-- 즐겨찾기 삭제 -->
	<delete id="modalDelete">
		DELETE FROM BOOKMARK
		WHERE MEMBER_NO = ${memberNo}
		AND STORE_NO = ${storeNo}
	</delete>
	
	<!-- 즐겨찾기 등록 -->
	<insert id="modalInsert">
		INSERT INTO BOOKMARK
		VALUES(${memberNo}, ${storeNo}, DEFAULT)
	</insert>
	
</mapper>
