#freeBoard-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

#freeBoard-container{
  background-color: white;
  box-shadow: 0px 0px 50px 3px  rgb(238, 237, 237);;
  border-radius: 30px;

  width: 1100px;
  height: auto;
  margin: 50px 0;

 text-align: center;

}

#title-content{
  font-size: 50px;
  padding: 70px;
  font-weight: bold;

  display: flex;
  align-items: center;
}

#title-content > p{
  width: 300px;
}

#title-search{
  display: flex;
  align-items: center;

}

#title-search > input{
  width: 300px;
  height: 50px;

  border-top-left-radius:25px;
  border-bottom-left-radius:25px;

  padding-left: 15px;

  font-size: 20px;

  border: 1px solid black;

  margin-left: 170px;

}

#title-search > button{
  width: 50px;
  height: 50px;

  border: 1px solid black;
  border-left: none;

  border-top-right-radius: 25px ;
  border-bottom-right-radius: 25px ;

}

#title-write{
  display: flex;
  align-items: center;
  justify-content: center;

}

#title-write > button{
  width: 80px;
  height: 50px;
  background-color: #2db420;
  border: 1px solid #2db420;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  margin-left: 20px;
}


#freeBoard-content{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#freeBoard-list{
  width: 500px;
  height: 600px;
  z-index: 500;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

}

#freeBoard-detail{
  
  width: 600px;
  height: 650px;

  background-color: #f7f8f9;
  border-radius: 10px;

  box-shadow: 0px 0px 5px 2px  rgb(240, 240, 240);

  position: relative;
  right: 50px;

  border: 1px solid #2db420;
}

#freeBoard-list li {
  border: 1px solid #f7f8f9;

  width: 500px;
  height: 86px;

  list-style: none;
  display: flex;

  justify-content: space-between;

  padding: 20px;
  cursor: pointer;

  font-weight: bold;
}

/* #freeBoard-list li > p{
  display: flex;
  width: 450px;
  margin-left: 10px;
} */

#freeBoard-list li:hover{
  background-color: #2db420;
  font-weight: bold;
  color: white;
  
}

/* #freeBoard-list li>i:hover{
  font-size: 20px;
} */

.freeBoard-title{
  display: flex;
}

.freeBoard-title > p {
  display: flex;
  width: 420px;
}

.freeBoard-title > i:first-child{
  margin-right: 10px;
}

.freeBoard-information{
  font-size: 10px;
  margin: 0px 0px 0px 25px;
  padding-top: 10px;
  width: 200px;
  display: flex;
}

.arrow{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 43px;
  width: 25px;
}

#freeBoard-detail-view{
  padding-left: 70px;
  padding-right: 30px;
  text-align: left;

  overflow-y: visible;


}

#freeBoard-detail-view > p:first-child{
  font-size: 30px;
  margin: 20px 0px;
  font-weight: bold;

}

#freeBoard-detail-view > div{
  margin-bottom: 20px;
}

#freeBoard-detail-title{
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 20px;
}

#freeBoard-detail-title>p:nth-child(2){
  font-size: 14px;
}

#freeBoard-detail-content{
  font-size: 14px;
  line-height: 22px;

  height: 70px;
}

#freeBoard-detail-view img{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  /* display: flex; */
}

#freeBoard-detail-anwser{
  font-size: 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

#freeBoard-detail-anwser p{

  width: 50px;

}

#freeBoard-detail-anwser input{
  width: 100%;
  border-radius: 10px;
  height: 28px;
  margin-left: 10px;
  padding: 0px 10px;
}

#freeBoard-detail-anwser button{
  margin-left: 10px;

  border: 1px solid #2db420;
  border-radius: 10px;
  background-color: #2db420;

  width: 100px;
  height: 30px;
  
  color: white;
  font-weight: bolder;

  cursor: pointer;

}

#freeBoard-detail-anwser>p:nth-child(2){
  font-size: 14px;
  align-items: center;
}

#freeBoard-detail-anwser-content{
  font-size: 14px;
  line-height: 22px;
  height: 120px;

  overflow-y: scroll;
}

#freeBoard-detail-anwser-content::-webkit-scrollbar{
  width: 3px;
}

#freeBoard-detail-anwser-content::-webkit-scrollbar-thumb{
  height: 30%;
  background: #2db420;
  
  border-radius: 5px;
}

#freeBoard-detail-btn{
  display: flex;
  justify-content: center;

  margin-top: 20px;
}

#freeBoard-detail-btn > button{
  margin: 0px 7px;

  width: 50px;
  height: 25px;

  background-color: #2db420;
  color: white;
  border: none;
  border-radius: 5px;
}

#contentD{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

#deleteBtn{
  margin-right: 10px;
  background-color: #f7f8f9;
  border: none;
  font-size: 14px;
  cursor: pointer;
}