
#freeBoard-container{
  background-color: white;
  box-shadow: 0px 0px 50px 3px  rgb(238, 237, 237);;
  border-radius: 30px;

  width: 1100px;
  height: 900px;
  margin: 50px 0;

 text-align: center;

}

#title-content{
  font-size: 50px;
  padding: 70px;
  font-weight: bold;

  display: flex;
  align-items: center;
}

#title-content > p{
  width: 300px;
}

#title-search{
  display: flex;
  align-items: center;

}

#title-search > input{
  width: 300px;
  height: 50px;

  border-top-left-radius:25px;
  border-bottom-left-radius:25px;

  padding-left: 15px;

  font-size: 20px;

  border: 1px solid black;

  margin-left: 170px;

}

#title-search > button{
  width: 50px;
  height: 50px;

  border: 1px solid black;
  border-left: none;

  border-top-right-radius: 25px ;
  border-bottom-right-radius: 25px ;

}

#title-write{
  display: flex;
  align-items: center;
  justify-content: center;

}

#title-write > button{
  width: 80px;
  height: 50px;
  background-color: #2db420;
  border: 1px solid #2db420;
  font-size: 16px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  margin-left: 20px;
}


#freeBoard-content{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#freeBoard-list{
  width: 500px;
  height: 600px;
  z-index: 500;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

}

#freeBoard-detail{
  /* border: 1px solid black; */
  width: 600px;
  height: 650px;

  background-color: #f7f8f9;
  border-radius: 10px;

  box-shadow: 0px 0px 5px 2px  rgb(240, 240, 240);

  /* position: absolute;
  right: 180px; */
  position: relative;
  right: 50px;
}

#freeBoard-list li {
border: 1px solid #f7f8f9;

  width: 500px;
  height: 86px;

  list-style: none;
  display: flex;
  /* flex-direction: column; */

  justify-content: space-between;

  padding: 20px 20px;
  cursor: pointer;
}

/* #freeBoard-list li > p{
  display: flex;
  width: 450px;
  margin-left: 10px;
} */

#freeBoard-list li:hover{
  background-color: #2db420;
  font-weight: bold;
  color: white;
  
}

/* #freeBoard-list li>i:hover{
  font-size: 20px;
} */

.freeBoard-title{
  display: flex;
}

.freeBoard-title > p {
  display: flex;
  width: 420px;
}

.freeBoard-title > i:first-child{
  margin-right: 10px;
}

.freeBoard-information{
  font-size: 10px;
  margin: 0px 0px 0px 25px;
  padding-top: 10px;
  width: 200px;
  display: flex;
}

.asd{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 43px;
  width: 25px;
}