@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: NIXGONM-Vb;
}



#adminMain{
    width: 1200px;
    display: flex;
    justify-content: center;
}


/* 식당 등록 전체 */
#adminR{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
   
    
}

.admin-mainMenu{
    width: 900px;
    height: 80vh;
    margin: 10px;
    
}



/* 식당 등록 폼 메뉴 */
.adminR-menu{
    display: flex;
    margin: 10px;
    padding: 3px;
    font-weight: bold;
}
.adminR-menu > aside{
    flex-basis: 20%;
    text-align: center;
}

.adminR-menu > input{
    width: 50%;
    padding-left: 5px;
}


/* 등록 버튼 */
#btn{
    display: flex;
    justify-content: center;    
}

#btn > button{
    width: 60px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

#btn > button:hover{
    background-color: #2db400;
    color: white;
    font-weight: bold;
    border: none;
}


/* 회원 관리 목록 */
#adminMember{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

#tableArea{
    width: 900px;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.list-table{
    width: 100%;
    height: 70%;
    border: 1px solid black;
    margin-bottom: 20px;
}

#tableHead{
    background-color: #aaa;
    font-size: 20px;
}

#memberH1{
    text-align: center;
    color: #2db400;
    margin: 10px;
}
.memberManageBtn{
    height: 40%;
    width: 50%;
    border-radius: 10%;
    cursor: pointer;
}

#memberManage{
    margin-left: auto;
    display: none;
}


/* 검색창 */
#searchArea{
    width: 100%;
display: flex;
justify-content: center;
margin-bottom: 20px;
}

#searchArea > input{
    width: 25%;
    margin: 0 10px;
}

#searchStore{
    text-align: center;
    margin-top: 10px;
}
#searchStore > input{
    width: 30%;
}


/* 이미지 영역 */
#imageArea{
    display: flex;
    justify-content: space-around;

}

#imageArea > aside{
    flex-basis: 20%;
    text-align: center;
}

.imageDiv > aside{
    font-weight: bold;
}


.imageInput{
    display: none;
}

.preview{
    width: 100px;
}

.imageDiv{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imageDiv > label{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}


.red{
    color: red;
    font-weight: bold;
}

/* 식당관리 테이블 */
#storeManage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}


#storeArea{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

#storeArea > select{
    height: 25px;
    
}

#storeTable{
    width: 100%;
    height: 70%;
    border: 1px solid black;
}

.storeList{
    cursor: pointer;
}

#storeTH{
    background-color: #2db400;
}

td{
    text-align: center;
}

#storeH1{
    display: inline-block;
    color: #2db400;
    margin: 10px;
    width: 80%;
    text-align: center;
}

#btnArea{
    display: flex;
    justify-content: end;
    margin-right: 25px;
}

/* 식당 등록 주소 */
#addr-area{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#addr-area > button{
    width: 60px;
    height: 25px;
    background-color: #2db400;
    color: white;
    border: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

#addr-area > input{
    margin-bottom: 5px;
    height: 40%;
    padding: 3px;
}




/* 신청 조회 버튼 */
#btnArea > button{
    height: 30px;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.store-manage{
    height: 30px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.store-manage:hover{
    background-color: #2db400;
    color: wheat;
    font-weight: bold;
}


/* 페이지 목록 */
.pagination{

    list-style: none;
    display: flex;
    justify-content: center;
}

.pagination li{
    margin: 0 5px;
}

.pagination li a{
    text-decoration: none;
}



/* 회원 */
#memberManageAll{

    width: 100%;
    display: flex;
    flex-direction: column;
}

#memberManageAll > h1{
    text-align: center;
    margin-top: 20px;
    color: #2db400;
}

#memberInfoChange{
    flex-basis: 75%;
}

#memberBtn{
    display: flex;
    justify-content: end;
    padding: 20px;
    
}

#memberBtn > button { 
    height: 30px;
    width: 100px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
}


#memberInfoChange{
    display: flex;
    margin-left: auto;
}

#memberInfo{
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.memberInfoList{
    margin-top: 20px;
    font-size: 30px;
    display: flex;
}

.memberInfoList > aside{
    width: 35%;
    font-weight: bold;
    text-align: center;
}

.memberInfoList > span{
    display: inline-block;
    width: 65%;
    text-align: center;
    color: black;

}


#licenseArea{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}

#licenseView{
    width: 200px;
    height: 300px;

}

#licenseText{
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


#m-BtnR > a{
    text-decoration: none;
}