#adminMain{
    display: flex;
}


/* 관리자 메뉴 */
#adminModal{
    border: 1px solid black;
    width: 10%;
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
}

#adminModal > ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}

#adminModal > ul > li{
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

/* 식당 등록 전체 */
#adminR{
    border: 1px solid black;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    
}

.admin-mainMenu{
    border: 1px solid black;
    width: 80%;
    height: 70%;
}



/* 식당 등록 폼 메뉴 */
.adminR-menu{
    display: flex;
    margin: 10px;
    padding: 3px;
}
.adminR-menu > aside{
    flex-basis: 20%;
    text-align: center;
}

.adminR-menu > input{
    width: 50%;
    padding-left: 5px;
}


/* 등록 버튼 */
#btn{
    display: flex;
    justify-content: center;    
}

