@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: NIXGONM-Vb;
}



#adminMain{
    width: 1200px;
    display: flex;
    justify-content: center;
}

.admin-mainMenu{
    border: 1px solid black;
    width: 900px;
    height: 65vh;
    margin: 10px;
    
}    

#boardManage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.container{
    width: 500px;
    height: 500px;
    font-size: 30px;
    text-align: center;
    color: #2db400;
    position: relative;
}

.swiper-slide{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container > img{
    width: 500px;
    height: 500px;
}

/* 공지사항 */

#boardNotice{
    cursor: pointer;
}

#boardNotice > span{
    position: absolute;
    right: 5%;
    top: 30%;
    color: darkred;
    font-weight: bold;

}

/* 자유게시판 */
#freeBoard{
    cursor: pointer;
}

#freeBoard > span{
    position: absolute;
    left: 70%;
    bottom: 5%;
    color: #2db400;
    font-size: 1em;
    font-weight: 600;
}

/* 업데이트 */
#update{
    cursor: pointer;
}
#update > span{
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: ivory;
    font-weight: bold;
}

/* 문의게시판 */
#question{
    cursor: pointer;
}

#question > span{
    position: absolute;
    right: 5%;
    bottom: 5%;
    font-weight: bold;
    color: #2db400;
}