@font-face {
    font-family: 'NIXGONM-Vb';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: NIXGONM-Vb;
}



#adminMain{
    width: 1200px;
    display: flex;
    justify-content: center;
}

.admin-mainMenu{
    width: 900px;
    height: 65vh;
    margin: 10px;
    
}    

#boardManage{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-left: auto;
    height: 65vh;
}

.container{
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    color: #2db400;
    position: relative;
}

.swiper-slide{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container > img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

/* 공지사항 */

#boardNotice{
    cursor: pointer;
}

#boardNotice > span{
    position: absolute;
    top: 25%;
    right: 20%;
    color: darkred;
    font-weight: bold;

}

/* 자유게시판 */
#freeBoard{
    cursor: pointer;
}

#freeBoard > span{
    position: absolute;
    left: 65%;
    bottom: 10%;
    color: #2db400;
    font-size: 1em;
    font-weight: 600;
}

/* 업데이트 */
#update{
    cursor: pointer;
}
#update > span{
    position: absolute;
    right: 15%;
    bottom: 10%;
    color: ivory;
    font-weight: bold;
}

/* 문의게시판 */
#question{
    cursor: pointer;
}

#question > span{
    position: absolute;
    right: 15%;
    bottom: 10%;
    font-weight: bold;
    color: powderblue;
}


/* 게시판 관리 */
#boardTest{
    width: 100%;
}

#boardTable{
    width: 100%;
    border: 1px solid black;
}

#boardTable >thead {
    background-color: #2db400;
}


#boardTable > tbody{
    text-align: center;
}

/* 검색 영역 */
#searchBoard{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* 상단 글씨 */
.manageTitle{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    margin-top:15px;
    font-size: large;    
    font-weight: bold;
    color: #2db400;
}

/* 돌아가기 */
#returnArea > a{
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: end;
    color: #2db400;
    margin-right: 20px;
}



.pageBtn{
    margin: 5px;
    border:none;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    color: #2db400;
}

.pagePrev{
    margin: 5px;
    border:none;
    cursor: pointer;
    font-weight: bold;

}

.pageLast{
    margin: 5px;
    border:none;
    cursor: pointer;
    font-weight: bold;

}

.pageFirst{
    margin: 5px;
    border:none;
    cursor: pointer;
    font-weight: bold;

}

.pageNext{
    margin: 5px;
    border:none;
    cursor: pointer;
    font-weight: bold;
}

.pageBtn:visited{
    background-color: #2db400;
    color:white;
    border-radius: 50%;
}

/* 페이지 목록 */
.pagination{

    list-style: none;
    display: flex;
    justify-content: center;
}


.pageBtn .checked{
    background-color: #2db400;
    color: white;
}


tr:hover{
    background-color: #ccc;
}


#searchBtn{
    margin: 3px;
    background-color: #2db400;
    color: white;
    border: none;
    font-weight: bold;
    width: 5%;
}

#keyword{
    margin: 3px;
    width: 25%;
}

#search{
    margin: 3px;
}


.fontColor{
    color: #2db400;
    font-weight: bold;
}

.board-view-content-text textarea{
    width: 533px; 
    height: 121px;
}