*{
  font-family: "NIXGONM-Vb";
}
.board-view-modal{
  top: 0; left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 상세보기 흰영역 */
.board-view-area{
  width: 50vw;
  min-width: 400px;
  height: auto;
  min-height: 300px;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}
/* 상세보기 제목 위에 초록*/
.board-view-title{
  width: 100%;
  height: 40px;
  background-color:  #2db400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  
}
.board-view-content-all{
  padding: 20px;
}
.board-view-content-all > *{
  padding: 10px 0 0 0;
}
.board-view-content-content{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
/* .board-view-content-detail-answer>p{
  
  height: 50px;
} */
.board-view-content-text{
  height: 150px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10xp;
}
.board-view-content-content > p:nth-child(2){
  color:rgba(0, 0, 0, 0.486);
}
.board-view-content-content > p:nth-child(1){
  font-size: 20px;
}